<header class="nav-bar">
  <div class="navbar-container">
    <div class="logo">
      <span class="logo-icon">🚲</span> BikeApp
    </div>
    <nav class="header-selection">
      <ul>
        <li><a routerLink="/home" routerLinkActive="active" class="lista-header">Inicio</a></li>
        <li><a routerLink="/bicicletas" routerLinkActive="active" class="lista-header">Bicicletas</a></li>
        <li><a routerLink="/historial-alquileres" routerLinkActive="active" class="lista-header">Historial de alquileres</a></li>
      </ul>
    </nav>
  </div>
</header>